services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeigniter4_app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data

  db:
    image: mysql:8.0
    container_name: codeigniter4_db
    restart: always
    environment:
      MYSQL_DATABASE: ci4 
      MYSQL_ROOT_PASSWORD: root 
    ports:
      - "3300:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: codeigniter4_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data:
